<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!--针对移动端优化显示-->
    <meta name="viewport"
          content="user-scalable=no, initial-scale=1, maximum-scale=1,
           minimum-scale=1, width=device-width, height=device-height"/>
    <title>活动详情</title>
    <link rel="stylesheet" href="../css/activityDetail.css">

    <script src="../js/jquery-lazyload.js"></script>
    <script src="../js/jquery-3.1.1.js"></script>
</head>
<body>
    <div class="content">

    </div>
<div class="navgation">
    <div class="choiced"><p>最新</p></div>
    <div><p>最新</p></div>
    <div class="bottomBar"></div>
</div>
<div class="block">

</div>
<div class="scropRapper">
    <div class="newestAndHotest over-flow">
        <ul class="dynamicList">

        </ul>
        <ul class="dynamicList">
            
        </ul>
    </div>
</div>
<div class="blockbottom">
    
</div>
<div class="attendAct">
    <img src="http://test.leeonedu.com/Public/H5/img/btn_camera.png" alt="">
</div>
<script>
    var activityId;
    var useId;
    var userName;
    var toreplyManId;
    var toreplyManName;
</script>
</body>
</html>